doctype html
html(lang="en" class="h-100")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= "SnapShare"
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        style(type="text/css").
            a{
                text-decoration: none;
            } 
            #artistName{
                color: white;
            }
            #artistName:hover {
                color: var(--bs-gray-500);
            }
            .check{
                display: none;
            }
            .check + label {
                background: url('/images/thumbs-up.png') no-repeat;
                height: 20px;
                width: 20px;
                display:inline-block;
                padding: 0 0 0 0px;
            }
            .check:checked + label {
                background: url("/images/thumbs-up-checked.png") no-repeat;
                height: 20px;
                width: 20px;
                display:inline-block;
                padding: 0 0 0 0px;
            }

    body(class="text-white h-100", style="background-color:#04161c; min-width: 450px;", onload=`init(${all})`) 
        include includes/navbar.pug
        - let rem = error? "8rem" : "5rem"
        if error
            div(class="alert alert-danger relative-bottom text-center mb-0", role="alert") #[strong= (errorName? errorName : "ERROR") + ": "] #{error}

        div(class="container" style="height: calc(100% - "+ rem +");")
            div(class="row h-100 d-flex align-items-center")
                div(class="col-5 h-75 mb-2 mx-auto" style="min-width: 450px")
                    div(class="text-white card d-flex flex-column h-100 bg-dark" style="min-height: 422.400px;")
                        div(class="card-header text-white") 
                            h5(class="card-title text-center mt-1")
                                a#artistName(href="#") 
                        div(class="card-img" style="height: calc(100% - 7rem); background-color: #2B2C32;")
                            img#img(style="height:100%; width:100%; object-fit: contain;")
                        div(class="card-footer")
                            div(class="list-group")
                                div(class="list-group-item bg-secondary text-white")
                                    div#likes(class="row align-items-center")
                                        div(class="col")
                                            p(class="mb-0")#likeText
                                        div(class="col-auto")
                                            input#like(class="check", type="checkbox", name="like", onchange="like()")
                                            label(for="like")

                div(class="col h-75 mb-2 mx-auto" style="min-width: 450px")
                    div(class="text-white card h-100 bg-dark" style="min-height: 422.400px")
                        div(class="card-header d-flex flex-column text-center mb-2 overflow-auto" style="height: 35%; min-height: 35%")
                            h3#name(class="card-title text-wrap")
                            div#tags(class="text-light mb-0")
                            p#datePosted(class="text-light")
                            p#description(class="mt-auto mx-auto text-break")
                        div#review(class="card-body d-flex flex-column justify-content-end mh-100 overflow-auto")
                            #reviews(class="list-group mb-1 h-100")
                        div(class="card-footer")
                            div(class="input-group")
                                input#newReview(type="text" class="form-control" name="newReview" placeholder="Post Review" aria-label="review" aria-describedby="reviewButton")
                                button#reviewButton(class="btn btn-secondary" type="submit", onclick="postRev()" disabled) Post
                .container
                    div(class="row d-flex justify-content-center align-items-center mx-auto" style="min-width: 450px")
                        div(class="col-2 d-flex justify-content-center align-items-center")
                            button#up(class="btn btn-lg btn-outline-primary me-3" onclick="newer()" disabled) Newer
                            button#down(class="btn btn-lg btn-outline-primary" onclick="older()") Older

        script(src="/js/bootstrap.bundle.min.js") 
        script(src="/feed-client.js") 
        script(src="/notifs-client.js") 